.form {
    display: flex;
    background-color: aquamarine;
    margin: 5px 0;
}

.form .name {
    flex-basis: 30%;
    text-align: center;
    color: var(--color-text);
    font-size: 15px;
    font-weight: 700;
}

.form .select {
    flex-basis: 70%;
    width: 50%;
    font-weight: 600;
    background-color: bisque;
    color: var(--color-text);
}

.form .label option {}