.mainCard {
    border: 1px solid #bbbfc5;
    border-radius: 12px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.icon {
    font-size: 30px;
}

.title {
    font-size: 20px;
    font-weight: 700;
}

.mainCard:hover {
    color: var(--color-text);
    background-color: var(--color-button);
    color: white;
}