:root {
  /* color */
  --color-bg: #F6F6F6;
  --color-text: #373A3D;
  --color-button: #7090e8;
}

h1,
h2,
p,
span {
  margin: 0;
}

button {
  border: none;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-bg);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #bbbfc5;
  width: 390px;
  height: 420px;
  border-radius: 12px;
  background-color: white;
  padding: 12px;
}